@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,300;0,500;1,200&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    padding: 5px 10px;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 60px;
    height: 60px;
}

.left-nav {
  display: flex;
  max-width: 27%;
}

h3 {
    font-size: 25px;
}

.navigation ul li {
    list-style-type: none;
    display: flex;
    float: left;
    justify-content: space-around;
}

.navigation ul li a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover {
    font-weight: bold;
    color: rgb(253, 156, 59);
}

.btn {
    background-color: rgb(255, 213, 196);
    font-size: 13px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    padding: 4px 10px;
    border: none;
}

button:hover {
    background-color: rgba(255, 144, 75, 0.67);
   
}

.paris1 {
    border-radius: 50px;
    width: 1150px;
    height: 450px;
}

h2{
    position: absolute;
    top: 250px;
    font-size: 2.2rem;
    font-weight: 1000;
    left: 100px;
    background: none;
    color: rgb(139, 13, 13);
}

strong {
    position: absolute;
    top: 330px;
    font-size: 1.3rem;
    left: 100px;
    background: none;
    color: rgb(82, 13, 13);
}
.cards {
    padding-left: 180px;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 60px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0, 0, 0.1);
   
}

.card-image {
    width: 100%;
    display: block;
}

.img1 {
    width: 200px;
    height: 220px;
}
.card-content {
    line-height: 1.6;
    font-size: 0.9em;
    padding: 10px 15px;
    background-color: #fafafa;
}


.card-link {
    background-color: rgb(255, 158, 134);
    font-size: 17px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 10px 60px;
}

.card-link:hover {
    background-color: rgb(255, 110, 74);
}

.middle-header {
    margin-top: 50px;
    font-size: 1.9rem;
    font-weight: 1000;
    text-align: center;
}

.card:hover {
    transition:0.5s;
    transform: scale(1.05);
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.footer {
    margin-top: 800px;
    padding: 70px 0px 0px 0px;
}

.footer ul li {
    list-style-type: none;
}

.footer ul li a {
    text-decoration: none;
    color: black;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid black;
}

.socials i {
    color: black;
}
.container {
    max-width: 1170px;
}



